body {
    margin: 0;
    background: #1E1E1E;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 520px;
    margin: 0 auto;
    padding: 20px 14px;
    text-align: center;
}

h1 {
    color: rgb(197, 3, 3);
    font-size: 25px;
    font-family: 'Rye', cursive;
    letter-spacing: 3px;

    background: #000000;

    border: 2px solid #444;

    border-radius: 20px;

    padding: 18px 30px;

    display: inline-block;

    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 18px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;

    padding: 16px;
    border-radius: 14px;
    margin-bottom: 14px;
}

.whatsapp {
    background: linear-gradient(90deg, #075E54, #128C7E, #25D366);
}

.instagram {
    background: linear-gradient(90deg, #833AB4, #FD1D1D, #FCAF45);
}